
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6  m-5 shadow-sm rounded">
                <p class="fw-bold fs-4 text-center text-primary">Edit Personal Information</p>
                
                <form [formGroup]="form" (ngSubmit)="submit()" class="p-4">

                    <div class="form-group mb-3">
                      <label for="name">Name</label>
                      <input formControlName="name" id="name" type="text" class="form-control">
                      <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
                        <div *ngIf="f['name'].errors && f['name'].errors['required']">name is required.</div>
                        <div *ngIf="f['name'].errors && f['name'].errors['name']">Please, enter valid name.
                        </div>
                      </div>
                    </div>
                    <!-- <div class="form-group mb-3">
                        <label for="email">Email</label>
                        <input formControlName="email" id="email" type="text" class="form-control" >
                        <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                          <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                          <div *ngIf="f['email'].errors && f['email'].errors['email']">Please, enter valid email address.
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <label for="phone">Phone</label>
                        <input formControlName="phone" id="phone" type="text" class="form-control" >
                        <div *ngIf="f['phone'].touched && f['phone'].invalid" class="alert alert-danger">
                          <div *ngIf="f['phone'].errors && f['phone'].errors['required']">phone is required.</div>
                          <div *ngIf="f['phone'].errors && f['phone'].errors['phone']">Please, enter valid email address.
                          </div>
                        </div>
                      </div> -->
                    <p class="text-center p-1 my-1 text-white bg-danger rounded" *ngIf="msg">
                      {{msg}}
                    </p>
                    <button class="btn btn-primary w-100 mt-1" [disabled]="form.invalid" type="submit">Edit</button>
                  </form>
            </div>
        </div>
    </div>
</section>
