<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-5">
        <div class="login-wrap p-4 p-md-5">
          <div class="d-flex">
            <div class="w-100">
              <h3 class="mb-4 text-center">Login</h3>
              <form [formGroup]="form" (ngSubmit)="submit()">

                <div class="form-group mb-3">
                  <label for="email">Email</label>
                  <input formControlName="email" id="email" type="text" class="form-control">
                  <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                    <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                    <div *ngIf="f['email'].errors && f['email'].errors['email']">Please, enter valid email address.
                    </div>
                  </div>
                </div>

                <div class="form-group mb-3">
                  <label for="password">Password</label>
                  <input formControlName="password" id="password" type="password" class="form-control">

                  <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
                    <div *ngIf="f['password'].errors && f['password'].errors['required']">password is required.</div>
                  </div>
                </div>
                <p class="text-center p-1 my-1 text-white bg-danger rounded" *ngIf="msg">
                  {{msg}}
                </p>
                <button class="btn btn-primary w-100 mt-1" [disabled]="form.invalid" type="submit">Login In</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
