section {
  background-color: #e0e2e0;
  height: 100vh;
  display: flex;
  align-items: center;

}

input {
  background-color: #f6f7f9 !important;
}


.bg-primary {
  background: #dfdfdf !important;
}

.login-wrap {
  position: relative;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.form-control {
  height: 48px;
  background: #f6f7f9;
  color: #000;
  font-size: 16px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

.form-control:focus,
.form-control:active {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ddd;
  background-color: #fff;
}

.btn {
  cursor: pointer;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px;
  padding: 10px 20px;
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
}
