
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6  m-5 shadow-sm rounded">
                <p class="fw-bold fs-4 text-center text-primary">Personal Information</p>
                <ul class="list-unstyled">
                    <li>
                        <span class="attr"> Name: </span> <span>{{userData!.name}}</span>
                    </li>
                    <li>
                        <span class="attr"> Email: </span> <span>{{userData!.email}}</span>
                    </li>
                    <li>
                        <span class="attr"> verified Email: </span> <span>{{userData!.has_verified_email ? 'Yes' : 'No' }}</span>
                    </li>
                    <li>
                        <span class="attr"> Phone: </span> <span>{{userData!.phone}}</span>
                    </li>
                    <li>
                        <span class="attr"> verified Phone: </span> <span>{{userData!.has_verified_phone ? 'Yes' : 'No' }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
