<app-navbar></app-navbar>
<section class="home">
    <div class="container">
        <p class="fw-bold text-center">Welcome to my Test</p>
    </div>
    <app-profile [userData]="userData" *ngIf="page == 'page'"></app-profile>
    <app-edit-profile [userData]="userData"  *ngIf="page == 'edit-profile'"></app-edit-profile>
</section>
<app-footer></app-footer>